<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>DartTrip. Travel to a random city. Throw a dart!</title>
        <meta name="description" content="Web-service for those who decided to travel somewhere and who wants to explore something new but has no clue where to go. Choose the right place with us!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        <meta name='yandex-verification' content='657500f7047ae8b9' />

        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/idangerous.swiper.css' />
        <link rel='stylesheet' href='/stylesheets/select2.css' />
        <link rel="stylesheet" href="/Cesium/Widgets/CesiumWidget/CesiumWidget.css">

        <!-- <script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script> -->
        <!-- <script src="/javascripts/jquery-1.9.1.min.js"></script> -->
        <script src="/Cesium/Cesium.js"></script>

        <link rel="shortcut icon" href="/images/favicon.ico">

    </head>
    <body class='nooverflow'>

        <div class='button_holder'>
            <a id="demo_action_button" href="#">Throw a dart</a>
        </div>

        <img src='/images/logo.png' style='display:none;'/>
        <img src='/images/dart.gif' class='dart'/>

        <div id="earth_div"></div>
        <!-- <div id='filters'>
            <input type='hidden' style="min-width:250px" multiple="multiple" id='region' />
            <input type='hidden' style="min-width:250px" multiple="multiple" id='sub_region' />
            <input type='hidden' style="min-width:250px" multiple="multiple" id='country' />
        </div> -->
        <div id="left_info_div">
            <div class='current_content'>
                <h3>Lorem ipsum dolor</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et mattis nibh. Cras imperdiet nisi id elit imperdiet porta. Fusce tempor, lorem sed tincidunt bibendum, mi nisl vulputate libero, eget luctus mauris tellus ac diam. Donec eget ornare nunc. Suspendisse potenti. Integer vel sem orci, vitae hendrerit neque. Quisque sit amet sapien nec risus scelerisque laoreet. In dictum facilisis justo, at vehicula nunc pulvinar ac.
                </p><p>
                Ut placerat lacus vel ligula pretium vitae condimentum sapien varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec odio at ligula consectetur hendrerit sit amet quis quam. Praesent sit amet nisi mauris. Morbi ac felis pretium orci lobortis semper. Morbi facilisis orci sit amet justo aliquet et luctus tortor fringilla. Proin id tincidunt mi. Sed vitae urna massa, sit amet dictum ligula. Aenean ac libero ipsum, vel molestie lectus. Donec iaculis consequat gravida. Nulla id ipsum sit amet est ullamcorper tincidunt. Cras sit amet eros libero. Morbi gravida luctus purus, eget sagittis neque dictum at. Ut non eros libero. Aenean a ipsum in tortor euismod volutpat. Donec dictum fermentum lectus, eu ultricies libero varius vel.
                </p><p>
                Quisque mattis tellus nec erat elementum et varius velit scelerisque. Phasellus sollicitudin auctor luctus. Morbi et est sapien. Quisque accumsan, dolor imperdiet malesuada congue, magna leo tincidunt enim, id fringilla arcu augue at arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ac diam commodo lorem condimentum lobortis id sed nibh. Nunc ut nibh vel justo sodales sodales. Sed ligula lectus, gravida id aliquam vel, fringilla non libero. Integer volutpat vestibulum metus, nec lacinia massa sollicitudin in. Mauris suscipit fringilla ultricies. Integer sed vestibulum magna.
                </p>
            </div>
        </div>
        <div id="right_info_div">
            <div class="addthis_toolbox addthis_floating_style addthis_32x32_style">
            <a class="addthis_button_vk"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            </div>
            <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-518534d57878e21d"></script>
        </div>
        <div id="photos_div"></div>

        <script src="/javascripts/script.js"></script>
        <script src="/javascripts/select2.js"></script>
        <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
        <script src="/main.js"></script>

        <!-- <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-11551414-5', 'allvbg.ru');
            ga('send', 'pageview');
        </script> -->

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter21455446 = new Ya.Metrika({id:21455446,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            trackHash:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/21455446" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    </body>
</html>
